<!--############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/12/6 ;
# author   = Nishi ;
# History  = ver1.0.0 ;
# end of specification ;
#############################################################-->

<%= form_tag housing_databases_editDatabases_path(@housing.id), method: 'patch',multipart: true do%>
    <table>

      <tbody>
      <tr><td>画像URL</td> <td><%= file_field_tag 'image' %></td> </tr>
      <tr><td>店舗ID</td> <td><%= collection_select(:selectedstore_id,:store_id,@store.all,:id,:store_name,:selected => @housing.store_id) %></td> </tr>
      <tr><td>住所</td> <td><%= text_field_tag :street_address,@housing.street_address, :placeholder => "住所" %></td> </tr>
      <tr><td>家賃</td>  <td><%= text_field_tag :rent,@housing.rent,:placeholder => '家賃'%></td> </tr>
      <tr><td>管理費</td>  <td><%= text_field_tag :administration_cost,@housing.administration_cost,:placeholder => '管理費'%></td> </tr>
      <tr><td>タイプ</td>  <td><%= text_field_tag :housing_type,@housing.housing_type,:placeholder => 'タイプ'%></td></tr>
      <tr><td>建築年月</td>  <td><%= date_select :date,:building_date, :use_month_numbers => true,:discard_day => true,:default => @housing.building_date,:start_year =>1950,:end_year => 2050%></td></tr>
      <tr><td>向き</td>  <td><%= text_field_tag :direction,@housing.direction,:placeholder => '向き'%></td></tr>
      <tr><td>間取り</td>  <td><%= text_field_tag :layout,@housing.layout,:placeholder => '間取り'%></td></tr>
      <tr><td>面積</td>  <td><%= text_field_tag :area,@housing.area,:placeholder => '面積'%></td></tr>
      <tr><td>構造</td>  <td><%= text_field_tag :structure,@housing.structure,:placeholder => '構造'%></td></tr>
      <tr><td>階建て</td>  <td><%= text_field_tag :floor,@housing.floor,:placeholder => '階建て'%></td></tr>
      <tr><td>敷金</td>  <td><%= text_field_tag :deposit,@housing.deposit,:placeholder => '敷金'%></td></tr>
      <tr><td>礼金</td>  <td><%= text_field_tag :recompense,@housing.recompense,:placeholder => '礼金'%></td></tr>
      <tr><td>保証金</td>  <td><%= text_field_tag :security_money,@housing.security_money,:placeholder => '保証金'%></td></tr>
      <tr><td>敷引き</td>  <td><%= text_field_tag :shikibiki,@housing.shikibiki,:placeholder => '敷引き'%></td></tr>
      <tr><td>保険料</td>  <td><%= text_field_tag :insurance,@housing.insurance,:placeholder => '保険料'%></td></tr>
      <tr><td>駐車場</td>  <td><%= text_field_tag :parking,@housing.parking,:placeholder => '駐車場'%></td></tr>
      <tr><td>取引態様</td>  <td><%= text_field_tag :trading_aspect,@housing.trading_aspect,:placeholder => '取引態様'%></td></tr>
      <tr><td>他初期費用</td>  <td><%= text_field_tag :another_cost,@housing.another_cost,:placeholder => '他初期費用'%></td></tr>
      <tr><td>空き部屋情報</td>  <td><%= text_field_tag :vacancy,@housing.vacancy,:placeholder => '空き部屋情報'%></td></tr>
      <tr><td>詳細情報</td>  <td><%= text_field_tag :detail,@housing.detail,:placeholder => '詳細情報'%></td></tr>
      <tr><td>契約プラン</td>  <td><%= text_field_tag :plan,@housing.plan,:placeholder => '契約プラン'%></td></tr>

      </tbody>
    </table>

    <%= submit_tag "編集完了" %>
<% end %>
