<!-- ############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/11/29 ;
# author   = Kenta Togashi ;
# History  = ver1.0.0 ;
# end of specification ;
############################################################# -->

<%= render 'shared/library' %>
<%= render 'shared/menu' %>

<div class="container-fluid">
<div class="row">

<!-- 検索フォーム欄 -->
 <div class="col-md-3">
   <div class="container-fluid"><div class="row">
       <div style="border-bottom: solid 2px #22ff00;">近くにあってほしい施設</div>
   </div></div>
   <%= form_tag('/search/show', :method => :post) do %>
       <input type="hidden" name="user_name" value="<%= @user_name %>" >

       <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
           １番目：
           <%= select 'destination','d1' , [["大学", "大学"],["コンビニ", "コンビニ"],["スーパー", "スーパー"],["駅", "駅"],["郵便局", "郵便局"],["銀行", "銀行"],["病院", "病院"],["衣服店", "衣服店"],["居酒屋", "居酒屋"],["飲食店", "飲食店"],["本屋", "本屋"],["娯楽施設その他", "娯楽施設その他"]] , :selected=>"大学" %>
       </p></div></div></div>

       <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
           ２番目：
           <%= select 'destination','d2' , [["大学", "大学"],["コンビニ", "コンビニ"],["スーパー", "スーパー"],["駅", "駅"],["郵便局", "郵便局"],["銀行", "銀行"],["病院", "病院"],["衣服店", "衣服店"],["居酒屋", "居酒屋"],["飲食店", "飲食店"],["本屋", "本屋"],["娯楽施設その他", "娯楽施設その他"]] , :selected=>"コンビニ" %>
       </p></div></div></div>

       <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
           ３番目：
           <%= select 'destination','d3' , [["大学", "大学"],["コンビニ", "コンビニ"],["スーパー", "スーパー"],["駅", "駅"],["郵便局", "郵便局"],["銀行", "銀行"],["病院", "病院"],["衣服店", "衣服店"],["居酒屋", "居酒屋"],["飲食店", "飲食店"],["本屋", "本屋"],["娯楽施設その他", "娯楽施設その他"]] , :selected=>"スーパー" %>
       </p></div></div></div>

       <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
           ４番目：
           <%= select 'destination','d4' , [["大学", "大学"],["コンビニ", "コンビニ"],["スーパー", "スーパー"],["駅", "駅"],["郵便局", "郵便局"],["銀行", "銀行"],["病院", "病院"],["衣服店", "衣服店"],["居酒屋", "居酒屋"],["飲食店", "飲食店"],["本屋", "本屋"],["娯楽施設その他", "娯楽施設その他"]] , :selected=>"駅" %>
       </p></div></div></div>

       <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
           ５番目：
           <%= select 'destination','d5' , [["大学", "大学"],["コンビニ", "コンビニ"],["スーパー", "スーパー"],["駅", "駅"],["郵便局", "郵便局"],["銀行", "銀行"],["病院", "病院"],["衣服店", "衣服店"],["居酒屋", "居酒屋"],["飲食店", "飲食店"],["本屋", "本屋"],["娯楽施設その他", "娯楽施設その他"]] , :selected=>"郵便局" %>
       </p></div></div></div>

        <div style="height:10px;"></div>
        <div class="container-fluid"><div class="row"><div class="col-xs-12"><p>
            特に近くにあってほしい施設：
            <%= select 'destination','filter' , [["全部", 5],["１番目だけ", 1],["２番目まで", 2],["３番目まで", 3],["４番目まで", 4]] , :selected=>"全部" %>
        </p></div></div></div>

       <div style="height:10px;"></div>
       <div class="container-fluid"><div class="row">
           <div style="border-bottom: solid 2px #22ff00;">坂を気にしますか？</div>
       </div></div>
       <div class="container-fluid"><div class="row">
       <div class="col-xs-6"><input type="radio" name="slope" value="yes">はい</div>
       <div class="col-xs-6"><input type="radio" name="slope" value="no" checked="checked">いいえ</div>
       </div></div>
       <div style="height:20px;"></div>

       <input type="hidden" name="keyword" value="">
       <input type="hidden" name="show[sort]" value="距離が近い順">
       <div class="container-fluid"><div class="row"><div class="col-xs-2">
           <input type="submit" value="検索" class="btn btn-success btn-lg">
       </div></div></div>
       <div style="height:40px;"></div>
   <% end %>
 </div>

 <div class="col-md-6">
   <!-- スライドショー -->
   <div class="container-fluid"><div class="row">
   <div id="carousel-home" class="carousel slide" data-ride="carousel">
       <!-- 下部ボタン -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>

    <!-- スライドの内容 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://jsrun.it/assets/8/a/T/m/8aTmz.png" alt="スライド1">
        </div>
        <div class="item">
            <img src="http://jsrun.it/assets/w/0/0/I/w00Iq.png" alt="スライド2">
            <div class="carousel-caption">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_home">距離が見えるとは？</button>
            </div>
        </div>
        <div class="item">
            <img src="http://jsrun.it/assets/m/1/R/j/m1Rju.png" alt="スライド3">
        </div>
    </div>

    <!-- 左右ボタン -->
    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
</div></div></div>
<div style="height:40px;"></div>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="modal_home">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">距離が見えるとは？</h4>
            </div>
            <div class="modal-body">
Good Measureでは、「施設（大学やコンビニ）」と「物件」との距離を<b>グラフ</b>として表示します。<br>
また、「近くにあって欲しい施設」を選択することができます。<br>
だから、<b>一目で「大学に近い建物」や「コンビニに近い建物」を見つける</b>ことができます。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<!-- 広告枠 -->
<div class="col-md-3">
  <center><b>掲載希望の方は<%= link_to "こちら", :controller => "inc_accounts", :action => "login" %></b></center>
<div style="height:40px;"></div>
広告<br>
<table class="table">
<% @advertisings.each{|advertising| %>
    <tr><th><%= image_tag(advertising_databases_image_path(advertising.id), :size => '150x150') %></td></tr>
<% } %>
</table>
</div>

</div></div>
