<!--############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/12/6 ;
# author   = Takayuki Kaneko ;
# History  = ver1.0.0 ;
# end of specification ;
#############################################################-->

<%= render 'shared/library' %>
<%= render 'shared/menu' %>

<div class="container-fluid"><div class="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <%= form_tag '/users/auth', :method => :post do %>
        <center><table width="400" style="background:#ffffee;" bordercolor="#cc6633"></center>
          <tr height="40"><td><center><h4><b>ユーザログイン画面</b><h4><center></td></tr>

          <tr height="30" style="padding: 5px;"><td>　　ユーザ名：</td></tr>
          <tr height="30"><td><center><input type="text" name="user_name" size="50" maxlength="50" placeholder="ユーザ名を入力"></center></td></tr>
          <tr height="30"><td></td><tr>

          <tr height="30"><td>　　パスワード：</td></tr>
          <tr height="30"><td><center><input type="password" name="password" size="50" maxlength="50" placeholder="パスワードを入力"></center></td></tr>
          <tr height="30"><td><center><font color="red"><%= @message %></font></center></td><tr>

          <tr height="30"><td><center><%= submit_tag "ログイン", name: "login", class: "btn btn-success" %></center></td></tr>
          <tr height="10"><td></td></tr>
        </table>
      <% end %>
    </center></div>
    <div class="col-sm-3"></div>
  </div>
</div>
