<!--############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/12/6 ;
# author   = Nishi ;
# History  = ver1.0.0 ;
# end of specification ;
#############################################################-->

<%= form_tag advertising_databases_editDatabases_path(@advertising.id), method: 'patch', multipart: true do%>
    <table>

      <tbody>
      <tr><td>広告情報</td>  </tr>
      <tr><td><%= text_field_tag :advertise_info,@advertising.advertise_info, :placeholder => "広告情報" %></td></tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @advertising.errors.messages[:advertise_info] %></font></td><tr>
      <tr><td>画像</td>  </tr>
      <tr><td><%= file_field_tag 'image' ,:accept => "image/png,image/gif,image/jpeg"%></td></tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @advertising.errors.messages[:image] %></font></td><tr>

      </tbody>
    </table>

    <%= submit_tag "編集","data-confirm" => "編集を行いますか？" %>
<% end %>
