<!--############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/12/6 ;
# author   = Nishi ;
# History  = ver1.0.0 ;
# end of specification ;
#############################################################-->

<%= form_tag('/advertising_databases/showTables', :method => :get) do %>
  <input type="hidden" name="inc_account_id" value="<%= @inc_account_id %>" >
  <input type="submit" value="戻る" formaction='/advertising_databases/showTables/<%= @inc_account_id %>' formmethod='get' class="btn btn-warning">
<% end %>

<%= form_tag advertising_databases_registerDatabses_path(params[:id]), multipart: true do%>
    <table>

      <tbody>
      <tr><td>広告情報</td> <td><%= text_field_tag :advertise_info,@advertising.advertise_info, :placeholder => "広告情報" %></td> </tr>
      <tr><td>画像</td> <td><%= file_field_tag 'image' %></td> </tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @advertising.errors.messages[:image] %></font></td><tr>

      </tbody>
    </table>

    <%= submit_tag "保存" %>
<% end %>
