<!--############################################################
# specificat on ;
# name     = Good Measure ;
# note     = ;
# date     = 2015/12/6 ;
# author   = Nishi ;
# History  = ver1.0.0 ;
# end of specification ;
#############################################################-->

<%= form_tag('/store/showStores', :method => :get) do %>
  <input type="hidden" name="inc_account_id" value="<%= params[:id] %>" >
  <input type="submit" value="戻る" formaction='/store/showStores/<%= params[:id] %>' formmethod='get' class="btn btn-warning">
<% end %>

<%= form_tag registerStores_path(params[:id]),multipart: true do%>
    <table>
      <% if @message %><tr><td><center><font color="red"><%= @message %></font></center></td></tr><% end %>
      <tbody>
      <tr><td>店舗名</td> </tr>
      <tr><td><%= text_field_tag :store_name,@store.store_name, :placeholder => "店舗名" %></td></tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @store.errors.messages[:store_name] %></font></td><tr>
      <tr><td>住所</td> </tr>
      <tr><td><%= text_field_tag :street_address,@store.street_address,:placeholder => '住所'%></td></tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @store.errors.messages[:street_address] %></font></td><tr>
      <tr><td>郵便番号（半角数字７桁）</td> </tr>
      <tr><td><%= text_field_tag :postal_code,@store.postal_code,:placeholder => '郵便番号'%></td></tr>
      <tr height="30"><td colspan="2"><font color="red">　　<%= @store.errors.messages[:postal_code] %></font></td><tr>
      </tbody>
    </table>

    <%= submit_tag "登録" ,"data-confirm" => "登録を行いますか？"%>
<% end %>
